<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>word puzzle</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" >
<link rel="stylesheet" href="css/style.css">
<style>
    /* CSS Reset */
    body{
        font-family: "Baloo Bhai", cursive;
        color: black;
        margin: 0px;
        padding: 0px;
        background: url(img/bg1.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;

    
    }
    h1 {
			font-size: 3em;
			font-weight: bold;
			color: white;
			text-align: center;
			text-shadow: 2px 2px #000000;
			margin-top: 0;
		}
		button {
			font-size: 2em;
            padding: 0em 2em;
            background-color: maroon;
            border: none;
            border-radius: 31px;
            cursor: pointer;
            margin-inline-end: 0px;
            margin: 410px;
		}
		button:hover {
			background-color: #ff6659;
		}
        h2 {
            
            font-size: 7em;
            font-weight: bold;
            color: maroon;
            text-align: center;
            text-shadow: 9px 2px #000000;
            margin-top: -622px;
}
		
</style>
<body>
    <center><button onclick="window.location.href='/2'">Start</button></center>
    <h2>Two Player Word Puzzle</h2>
</body>
</html>