<!DOCTYPE html>
<html>
<head>
  <style>
    /* Set the background image */
    body {
      background-image: url(img/bg3.jpeg);

      /* background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
     */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
   
    h1 {
            color: black;
            font-size: 4em;
            font-weight: bold;
            color: cornsilk;
            text-align: center;
            text-shadow: 9px 2px #000000;
            /*margin-top: -622px;*/
            
    }
    .mettu {
        width:700px;
        height: 540px;
    }
        .clues{
            position: absolute;
    width: 650px;
    height: 300px;
    /* background-color: red; */
    inset: 250px 0 0 480px;
    font-size: 20px;
    color: aliceblue;

}
        
      button{
        position: absolute;
       top:700px;
       right:190px;
       padding:10px 50px;
       border-radius:20px;
       font-size: 30px;
       font-weight: bold;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
  </style>
</head>
<body>
    <center><h1 >Instructions</h1>
        <img src="img\bg4.jpg" class="mettu" alt="akhilesh">
    </center>
     <div class="clues">
    Two player word Players:<br>
    &#9733;Firstly, the players have to enter there names respectively.<br>
    &#9733;Then,any one player between the two players have to click on the "Begin the game" button to start the game.<br>
    &#9733;Then the first question arrive with in a 22 seconds, based on the turns given under the "turn filed" the players has to fill the answer in the answer column.<br>
    &#9733;Every player has 10 seconds to answer their respective questions.<br>
    &#9733;After filling the answer column , the answer validation will be checked by itself whether it is correct or not ,after every attempt you need clear the answer box to answer the new question.<br>
    &#9733;After the click on the "exit" button the players can recieve they scores and analyse the winner.<br>
    &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733;Thank you &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 
</div>
<button onclick="window.location.href='/3'"><a>next&#8594;</a></button>
    
</body>
</html>
